#======== SDI SEI message =====================

SEISDIEnabled                            : 1
SEISDIMaxLayersMinus1                    : 1
SEISDIAuxiliaryInfoFlag                  : 1
SEISDILayerId                            : 0 1
SEISDIAuxId                              : 0 1
SEISDINumAssociatedPrimaryLayersMinus1   : 0 0
SEISDIAssociatedPrimaryLayerIdx          : 0

#======== Green Metadata SEI message (of type #2, i.e., for display adaptation through the use of attenuation maps) =====================

SEIGreenMetadataType                     : 2  # 0: Complexity metrics for decoder power reduction; 1: Quality metrics for quality recovery after low-power encoding; 2: Attenuation maps
SEIGreenMetadataAMIFlags                 : 0
SEIGreenMetadataAMIDisplayModel          : 2
SEIGreenMetadataAMIMapNumber             : 1
SEIGreenMetadataAMILayerId               : 1
SEIGreenMetadataAMIOlsNumber             : 1
SEIGreenMetadataAMIOlsId                 : 1
SEIGreenMetadataAMIEnergyReductionRate   : 10
SEIGreenMetadataAMIMaxValue              : 219
SEIGreenMetadataAMIAttenuationUseIdc     : 0
SEIGreenMetadataAMIAttenuationCompIdc    : 0
